
body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: white;
    overflow-x: hidden;
}

h2 {
    text-align: center;
    font-size: 40px;
}

.login-box {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    background-color: black;
}

#password, #username {
    width: 270px;
    padding: 12px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
}

.login-box div button {
    width: 74px;
    padding: 8px 14px;
    border: none;
    border-radius: 7px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}