

body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: white;
    overflow-x: hidden;
}

.container {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    background-color: black;
}

h1 {
    text-align: center;
    font-size: 48px;
}

#todo-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#task-title {
    width: 270px;
    padding: 8px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
}

#add-task-btn {
    width: 74px;
    padding: 8px 14px;
    border: none;
    border-radius: 7px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


#task-list {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #333;
}